* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

.Header {
  background: rgba(0, 0, 0, 0.40);
  height: 70px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: absolute;
  width: 100%;
}

.Lonely-logo {
  width: 260px;
  margin: 0px 35px;
}

.Logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu-Link {
  font-weight: 600;
  margin: 0 15px;
  color: #fff;
}

.Content {
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

.Body-Content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 60px;
  align-items: center;
}

.Bandeira-Clan {
  width: 30%;
}

.Clan-Text {
  width: 70%;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  bottom: 190px;
}

.Clan-Text h1 {
  padding-left: 70px;
  width: 80%;
}

.Hunter {
  z-index: 5;
  position: relative;
  bottom: 159px;
}

.ImageHunter {
  width: 40%;
}

.Red-Board {
  display: flex;
  background: #e94646;
  position: absolute;
  max-height: 353px;
  height: 353px;
  width: 60%;
  right: 0;
  top: 390px;
  border-radius: 20px 0px 0px 20px;
  z-index: 1;
}

.clanInfo {
  width: 40%;
  color: #fff;
  padding: 30px 10px 0px 50px;
  font-size: 15px;
}

.clanInfo .details-container {
  margin-top: 20px;
}

.Caracteristicas {
  width: 100%;
  background: #12171c;
  padding: 15% 0 3% 0;
}

.Modalide-Jogo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Inscricao {
  width: 100%;
  height: 60px;
  background: #232936;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all ease 0.8s;
}

.Inscricao h4 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 9px;
}

.Inscricao:hover {
  background-position-x: 100px;
}

.BtnInscricao {
  width: 330px;
  border: 0;
  background: #e94646;
  color: #fff;
  padding: 10px 30px;
  margin: 0 40px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.5s;
}

.BtnInscricao:hover {
  background: #ff0000;
}

.IconDestiny {
  margin: 0 15px;
}

.Coluna-Menor {
  height: 460px;
  width: 19%;
}

.Coluna-Menor:hover {
  box-shadow: 0 60px 90px -40px rgb(75 14 14 / 60%);
}

.Coluna-Maior {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 460px;
  width: 40%;
  background: #e94646;
  padding: 40px;
  color: #fff;
}

.Coluna-Maior h1 {
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 3em;
}

.Lenda {
  margin-bottom: 30px;
}

.Coluna-Maior img {
  width: 46%;
  position: absolute;
  z-index: 0;
  top: 29px;
  opacity: 0.6;
  filter: invert(1);
}

.Grupo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BtnComunidade {
  background: #47393d;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-weight: 800;
  padding: 20px;
}

.BtnComunidade:hover {
  background-color: #ff0000;
}

.BtnComunidade::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #f5f5f5;
  transition: .25s;
}

.BtnComunidade:hover::after {
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

.Border-Radius {
  border-radius: 10px;
}

.clanList {
  display: flex;
}

.Profile .clanList li:before {
  font-size: 28px;
  margin-right: 10px;
}

.clanList .membercount:before {
  content: "\f10b";
}

.clanList li:before {
  content: "\f119";
  font-family: Bungie;
  display: inline-block;
  margin-right: 9px;
  font-size: 35px;
  margin-top: 5px;
  min-width: 37px;
}

.clanList li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0px 10px 0px 0px;
}

.clanList li div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.Profile .clanList li div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

button {
  font-family: 'Poppins', sans-serif;
}

.grid .figure {
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  background-color: #000;
}

.grid .figure .figcaption {
  left: 0;
  right: 0;
  padding: 30px;
  width: 100%;
  background-repeat: repeat-x;
  -webkit-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}

.grid .figure .figcaption h2 {
  font-family: "Raleway";
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  bottom: -15px;
  color: #FFF;
  font-size: 25px;
}

.grid .figure .figcaption h2 span {
  font-weight: 800;
}

.grid .figure .figcaption p {
  font-size: 14px;
  top: -15px;
  margin: 5px 0 0 0;
  font-family: "Raleway";
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  filter: alpha(opacity=0);
}

.grid .figure .top {
  position: absolute;
  top: 0;
}

.grid .figure .center {
  position: absolute;
  top: 50%;
  background-position: center;
  padding: 70px 30px;
}

.grid .figure .bottom {
  position: absolute;
  bottom: 0;
}

.grid .zoomIn img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: -15%;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

.grid .zoomOut img {
  min-width: 130%;
  min-height: 130%;
  position: absolute;
  top: 0%;
  left: -55%;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}