.Header {
  background: rgba(0, 0, 0, 0.40);
  height: 70px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: absolute;
  width: 100%;
}

.Lonely-logo {
  width: 260px;
  margin: 0px 35px;
}

.Logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu-Link {
  font-weight: 600;
  margin: 0 15px;
  color: #fff;
}

.Content {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.Body-Content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 60px;
  align-items: center;
}

.Bandeira-Clan {
  width: 30%;
}

.Clan-Text {
  width: 70%;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  bottom: 190px;
}

.Hunter {
  z-index: 5;
  position: relative;
  bottom: 159px;
}

.ImageHunter {
  width: 40%;
}

.Red-Board {
  display: flex;
  background: #e94646;
  position: absolute;
  max-height: 353px;
  height: 353px;
  width: 65%;
  right: 0;
  top: 390px;
  border-radius: 20px 0px 0px 20px;
}

.clanInfo {
  width: 60%;
  color: #fff;
  padding: 30px 10px 0px 50px;
  font-size: 15px;
}

.Caracteristicas {
  width: 100%;
  background: #12171c;
  padding: 15% 0 3% 0;
}

.Modalide-Jogo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Inscricao {
  width: 100%;
  height: 60px;
  background: #232936;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Inscricao h4 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 39px;
}

.BtnInscricao {
  width: 330px;
  border: 0;
  background: #e94646;
  color: #fff;
  padding: 10px 30px;
  margin: 0 40px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

.IconDestiny {
  margin: 0 15px;
}

.Coluna-Menor {
  height: 460px;
  width: 19%;
  background: #e94646;
}

.Coluna-Maior {
  height: 460px;
  width: 40%;
  background: #e94646;
}

.Border-Radius {
  border-radius: 10px;
}